<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create User</title>
</head>
<body>
<h1>Create User</h1>
<form th:action="@{/users/create}" th:object="${user}" method="post">
    Username: <input type="text" th:field="*{username}" /><br/>
    Email: <input type="email" th:field="*{email}" /><br/>
    Password: <input type="password" th:field="*{password}" /><br/>
    <button type="submit">Save</button>
</form>
<a th:href="@{/users}">Back to List</a>
</body>
</html>
