<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Upload File</title>
</head>
<body>
<h1>Upload File</h1>
<form th:action="@{/files/create}" th:object="${file}" method="post" enctype="multipart/form-data">
    File Name: <input type="text" th:field="*{file_name}" /><br/>
    File Path: <input type="text" th:field="*{file_path}" /><br/>
    File Type: <input type="text" th:field="*{flie_type}" /><br/>
    <button type="submit">Upload</button>
</form>
<a th:href="@{/files}">Back to List</a>
</body>
</html>
