<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit File</title>
</head>
<body>
<h1>Edit File</h1>
<form th:action="@{/files/edit/{id}(id=${file.file_id})}" th:object="${file}" method="post">
    File Name: <input type="text" th:field="*{file_name}" /><br/>
    File Path: <input type="text" th:field="*{file_path}" /><br/>
    File Type: <input type="text" th:field="*{flie_type}" /><br/>
    <button type="submit">Update</button>
</form>
<a th:href="@{/files}">Back to List</a>
</body>
</html>
